<html>
<head><title>Orden de pedido</title></head>
<body>
<h1>Orden de pedido</h1>
<p>Estimado: {{ nombre }},</p>
<p>Gracias por el pedido que ordeno de la {{ empresa }}.  
El pedido junto con la mercancía se enviaran el  
{{ fecha|date:"F j, Y" }}.</p>
<p>Esta es la lista de productos que usted ordeno:</p>
<ul>
{% for pedido in lista_pedido %}
    <li>{{ pedido }}</li>
{% endfor %}
</ul>
{% if garantía %}
    <p>La garantía será incluida en el paquete.</p>
    {% else %}
        <p>Lamentablemente no ordeno una garantía, por lo  
        que los daños al producto corren por su cuenta.</p>
{% endif %}
<p>Sinceramente <br /> {{ empresa }}</p>
</body>
</html>