{% extends 'base/base.html' %}

{% block inicio %}
  d-block
{% endblock %}

{% block title %}
  FBV Nuevo libro
{% endblock %}

{% block header %}
  FBV {{ titulo }}
{% endblock %}

{% block content %}
  <main class="m-5">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <fieldset>
        <div class="d-flex justify-content-between">
          <legend>Datos del libro</legend>
          <a class="btn btn-danger m-3" href="javascript:history.back()">Atras</a>
        </div>

        {% for field in forms %}
          <article class="d-block">{{ field.label_tag }}
            {{ field }}</article>
          {% if field.errors %}
            <div class="error-label invalid-feedback d-block">{{ field.errors.0 }}</div>
          {% endif %}

          {% if field.name == 'portada' and field.value %}
            <div class="mt-2">
              <p>Imagen actual:</p>
              <img src="{{ field.value.url }}" alt="Portada del libro" style="max-width: 150px; height: auto;" />
            </div>
          {% endif %}
        {% endfor %}
        <div class="d-flex justify-content-between">
          <input type="submit" value="Guardar" class="btn btn-primary m-3" />
          {% if id %}
            <a class="btn btn-danger m-3" href="{% url 'app_libreria:eliminar_libro' id %}">Eliminar</a>
          {% endif %}
        </div>
      </fieldset>
    </form>
  </main>
{% endblock %}

{% block footer %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.getElementById('id_autores').classList = 'form-control mb-4'
  </script>
{% endblock %}
