{% extends 'base/base.html' %}

{% block inicio %}
  d-block
{% endblock %}

{% block title %}
  Lista de libros
{% endblock %}

{% block header %}
  listado de libros
{% endblock %}

{% block content %}
  <main class="m3">
    <table class="table" >
      <thead>
        <tr>
          <th scope="col">ID</td>
          <th scope="col">Titulo</td>
          <th scope="col">Editor</td>
          <th scope="col">Fecha de publicacion</td>
          <th scope="col">Acciones</td>
        </tr>
      </thead>

      <tbody>
        {% for libro in lista %}
          <tr>
            <td>{{ libro.id }}</td>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.editor }}</td>
            <td>{{ libro.fecha_publicada }}</td>
            <td>
              <div class="d-flex justify-content-between">
                <a class="btn btn-danger mx-3" href="{% url 'app_libreria:eliminar_libro' libro.id %}">Eliminar</a>
                <a href="{% url 'app_libreria:editar_libro' libro.id %}" class="d-block btn btn-primary mx-3">Editar</a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock %}

{% block footer %}
  <footer class="d-flex justify-content-between">
    <a href="{% url 'app_libreria:busqueda' %}" class="btn btn-primary mx-4">Atras</a>
    <a href="{% url 'app_libreria:nuevo' %}" class="btn btn-primary mx-4">Añadir</a>
  </footer>
{% endblock %}
