{% extends 'base/base.html' %}

{% block inicio %}
  d-block
{% endblock %}

{% block title %}
  Resultado de la busqueda
{% endblock %}

{% block header %}
  <h2>Resultado de la busqueda</h2>
{% endblock %}

{% block content %}
  <h3 class="d-flex justify-content-center">Estas buscando "{{ query }}"</h3>

  {% if libros %}
    <p class="mx-4">Libros encontrados: {{ libros|length }} libro{{ libros|pluralize }}</p>
    <ul>
      {% for libro in libros %}
        <a href="{% url "app_libreria:editar_libro" libro.id %}" class="d-block text-decoration-none">{{ libro.titulo }}</a>
      {% endfor %}
    </ul>
  {% else %}
    <h4 class="mx-4">No se encontraron resultados para esta consulta</h4>
  {% endif %}
{% endblock %}

{% block footer %}
  <footer class="d-flex justify-content-between" >
    <a href="{% url 'app_libreria:busqueda' %}" class="btn btn-primary mx-4">Atras</a>
    <a href="{% url 'app_libreria:nuevo' %}" class="btn btn-primary mx-4">Añadir</a>
  </footer>
{% endblock %}
