{% extends 'base/base.html' %}

{% block title %}
  Resultado de la busqueda
{% endblock %}

{% block header %}
  <h2>Estas buscando {{ query }}</h2>
{% endblock %}

{% block content %}
  {% if libros %}
    <p>Libros encontrados: {{ libros|length }} libro{{ libros|pluralize }}</p>
    <ul>
      {% for libro in libros %}
        <li>{{ libro.titulo }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <h3>No se encontraron resultados para esta consulta</h3>
  {% endif %}
{% endblock %}

{% block footer %}
  <a href="../../buscar" class="btn btn-primary">Atras</a>
{% endblock %}
