{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="shortcut icon" href="{% static 'resources/images.png' %}" type="image/x-icon" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ form.media }}
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
  </head>
  <body>
    <header class="mb-4">
      <nav class="navbar navbar-expand-lg bg-body-tertiary bg-black p-0">
        <div class="container-fluid d-flex text-center text-bg-primary justify-content-center">
          <span class="navbar-brand mb-0 h1 text-light">
            {% block header %}
              Bienvenido
            {% endblock %}
          </span>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="{% url 'app_libreria:cbv_busqueda' %}" class="nav-link">Buscar</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'app_libreria:cbv_contacto' %}" class="nav-link">Contacto</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'app_libreria:cbv_nuevo' %}" class="nav-link">Nuevo libro</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'app_libreria:cbv_listar' %}" class="nav-link">Listar libros</a>
          </li>
          <li>
            <a href="{% url 'app_libreria:cbv_pagina-de-bienvenida' %}"
              class="nav-link {% block inicio %}
                
                
                d-none


              {% endblock %}">
              Inicio
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Vista</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a href="{% url 'app_libreria:listar' %}" class="dropdown-item">FBV</a>
              </li>
              <li>
                <a href="{% url 'app_libreria:cbv_listar' %}" class="dropdown-item">CBV</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    {% block content %}

    {% endblock %}

    {% block footer %}
      <p>Gracias por visitar mi sitio web</p>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
