{% extends 'cbvbiblioteca/base.html' %}

{% block inicio %}d-block{% endblock inicio %}

{% block title %}
  CBV Borrar libro
{% endblock %}

{% block header %}
  CBV Eliminar un libro de la biblioteca
{% endblock %}

{% block content %}
 
    <main class="m-5">

        <h2>Desea eliminar el registor de {{libro}}</h2>

        <form method="POST"> 
            {% csrf_token %}


            <input type="submit" value="Aceptar" class="btn btn-danger">
        </form>



    </main>

{% endblock %}

{% block footer %}

{% endblock %}
