{% extends 'cbvbiblioteca/base.html' %}

{% block inicio %}d-block{% endblock inicio %}

{% block title %}
  CBV Contacto
{% endblock %}

{% block header %}
  CBV Contactanos
{% endblock %}

{% block content %}

  {% if form.errors %}
    <p style="color:red;">Por favor corrige lo siguiente:</p>
  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}

    <div class="field">
      <label for="id_asunto">Asunto:</label>
      {{ form.asunto }}

      {{ form.asunto.errors }}
    </div>

    <div class="field">
      <label for="id_email">Email:</label>
      {{ form.email }}
      {{ form.email.errors }}
    </div>

    <div class="field">
      <label for="id_mensaje">Mensaje:</label>

      {{ form.mensaje }}

      {{ form.mensaje.errors }}
    </div>

    <input type="submit" value="Enviar" class="btn btn-primary" />
  </form>
{% endblock %}

{% block footer %}

{% endblock %}
